@import "~react-image-gallery/styles/css/image-gallery.css";
.grid-container {
	display: grid;
	margin: 5px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 5px 5px;
	grid-template-areas:
		'sideBar carousel carousel carousel carousel carousel'
		'sideBar carousel carousel carousel carousel carousel'
		'sideBar carousel carousel carousel carousel carousel'
		'sideBar tips tips tips tips tips'
		'sideBar tips tips tips tips tips'
		'sideBar tips tips tips tips tips';
}

.sideBar {
	grid-area: sideBar;
}

.carousel {
	grid-area: carousel;
}

.tips {
	grid-area: tips;
    font-family: moonlight;
}

/* carousel styling */
.image-gallery-image{
    height:30em;
    width: 30em;
    background-color: black;
  }
  .container{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .image-gallery-play-button{
    display: none;
  }
  .image-gallery-svg{
    color:rgb(211, 211, 211);
  }
  .image-gallery{
    width:80%;
  }
