.observation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 5%;
    box-shadow:
    0 0 10px 5px rgba(255, 255, 255, 0.575),  /* inner white */
    0 0 10px 6px rgba(255, 255, 255, 0.452), /* middle magenta */
    0 0 14px 9px rgba(255, 255, 255, 0.507); /* outer cyan */
}
.card img {

    width:  100%;
    object-fit: cover;

}