@import "~react-image-gallery/styles/css/image-gallery.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image-gallery-image{
  height:30em;
  width: 30em;
  background-color: black;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
}
.image-gallery-play-button{
  display: none;
}
.image-gallery-svg{
  color:rgb(211, 211, 211);
}
.image-gallery{
  width:80%;
}


